.bsp/
.git/

.dockerignore
.env*
!.env.example
docker-compose.override.yml
docker-compose.yml
Dockerfile
.DS_Store

**/target
project/project

logs/
tmp
.history
build
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
target
